@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

body {
    background-color: #1a5b35;
    margin: 0;
    width: 100%;
    height: 90vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}

.wrapper {
    width: 699px;
    height: 464px;
    /*border: 1px solid red;*/
}

.contend {
    text-align: center;
}

.contend h1 {
    font-family: 'Comforter', sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 115px;
    color: #CEB076;
    margin: 0;
}

.contend p {
    font-family: 'Poiret One', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
}

.sing {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
}
.logo {
    margin-top: 143px;
   text-align: center;

}

.top-left {
    position: absolute;
    width: 204.89px;
    height: 240.52px;
    left: -30px;
    top: 32px;

}

.bottom {
    position: absolute;
    left: 0;
    bottom: 0;
}

.music {
    position: absolute;
    width: 56px;
    height: 56px;
    left: 14px;
    bottom: 75px;

}
.top-right {
    position: absolute;
    width: 239.54px;
    height: 236.39px;
    right: -28.54px;
    top: 0;

}
@media(max-width:576px) {
    .top-right {
        display: none;
    }

    .top-left {
        width: 75px;
    }

    .contend h1 {
        font-size: 50px;
    }

    .contend {
        margin: 30px;
    }

    .bottom {
        display: none;
    }

    .logo {
        margin: 0 auto;
        padding-top: 30px;
    }

    .music {
        position: absolute;
        top: 50px;
        left: 80%;
    }

    sing {
        position: absolute;
        top: 10px;
        left: 73%;
        font-size: 15px;
        text-align: center;
    }
}

/*height/width=padding+margin+border+height/width*/